{% extends 'layout.html'%} 
    {%block title%} Home {%endblock%} 
    {% block body %}
    <style>
      #Consolidado{
        border = solid 1px black;
      }
    </style>
    <div class="" id="Consolidado">
      <!--ESTA ES LA CARD DEL DOCENTE-->
      <div class="rounded overflow-hidden shadow-lg text-center">
        <div class="flex items-center justify-center">
          <div class="text-center">
            <img class="h-40" src="../static/src/profesor.png" alt="Imagen de la tarjeta">
          </div>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"># Docentes Registrados</div>
      </div>
    <!--ESTA ES LA CARD DEL ALUMNO-->
    <div class="rounded overflow-hidden shadow-lg text-center">
      <div class="flex items-center justify-center">
        <div class=" text-center">
          <img class="h-40" src="../static/src/estudiantes.png" alt="Imagen de la tarjeta">
        </div>
      </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"># Estudiantes Registrados</div>
    </div>
  <!--ESTA ES LA CARD DE MATRICULA-->
  <div class=" rounded overflow-hidden shadow-lg text-center">
    <div class="flex items-center justify-center">
      <div class=" text-center">
        <img class="h-40" src="../static/src/tesis.png" alt="Imagen de la tarjeta">
      </div>
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"># Matriculados</div>
  </div>
    {%endblock%}