{% extends 'layout.html'%} 
    {%block title%} Home {%endblock%} 
    {% block body %}
    <style>
      #Consolidado{
        border = solid 1px black;
      }
    </style>
    <div class="flex justify-between" id="Consolidado">

      <!-- TARJETA DEL DOCENTE -->
      <div class="max-w-xs rounded overflow-hidden shadow-lg text-center m-9">
        <div class="flex items-center justify-center">
          <div class="text-center">
            <img class="h-40" src="../static/src/profesor.png" alt="Imagen de la tarjeta">
          </div>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ docentes }} Docentes Registrados</div>
        </div>
      </div>
    
      <!-- TARJETA DEL ALUMNO -->
      <div class="max-w-xs rounded overflow-hidden shadow-lg text-center m-9">
        <div class="flex items-center justify-center">
          <div class="text-center">
            <img class="h-40" src="../static/src/estudiantes.png" alt="Imagen de la tarjeta">
          </div>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ alumnos }} Estudiantes Registrados</div>
        </div>
      </div>
    
      <!-- TARJETA DE MATRICULA -->
      <div class="max-w-xs rounded overflow-hidden shadow-lg text-center m-9">
        <div class="flex items-center justify-center">
          <div class="text-center">
            <img class="h-40" src="../static/src/tesis.png" alt="Imagen de la tarjeta">
          </div>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"># Matriculados</div>
        </div>
      </div>
    
    </div>
    
    {%endblock%}