{% extends 'layout.html'%} 
    {%block title%} Home {%endblock%} 
    {% block body %}
    <style>

    </style>
    <div class="flex-1">
      <!--ESTA ES LA CARD DEL DOCENTE-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg text-center">
      <div class="text-center">
        <img class="h-40" src="../static/src/profesor.png" alt="Imagen de la tarjeta">
      </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Docentes</div>
        <p class="text-gray-700 text-base">
          Cantidad de docentes registrados en el sistema
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Etiqueta1</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Etiqueta2</span>
      </div>
    </div>
    <!--ESTA ES LA CARD DEL ALUMNO-->
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="../static/src/profesor.png" alt="Imagen de la tarjeta">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Docentes</div>
      <p class="text-gray-700 text-base">
        Cantidad de docentes registrados en el sistema
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Etiqueta1</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Etiqueta2</span>
    </div>
  </div>
  <!--ESTA ES LA CARD DE MATRICULA-->
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="../static/src/profesor.png" alt="Imagen de la tarjeta">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Docentes</div>
      <p class="text-gray-700 text-base">
        Cantidad de docentes registrados en el sistema
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Etiqueta1</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Etiqueta2</span>
    </div>
  </div>
    </div>
    {%endblock%}