{% extends 'layout.html' %}
{%block title%} Matricula {%endblock%} 
{% block body %}
<ul>
    <li><input type="checkbox" class="clases" id="clase1">Clase 1</li>
    <li><input type="checkbox" class="clases" id="clase2">Clase 2</li>
    <li><input type="checkbox" class="clases" id="clase3">Clase 3</li>
</ul>
<button onclick="crearLista()">Matricular</button>

<script>
    function crearLista() {
        let lista = [];
        let checkboxes = document.getElementsByClassName('clases');

        for (let checkbox of checkboxes) {
            if (checkbox.checked) {
                //trim sirve para eliminar los espacios entre cadenas de texto
                lista.push(checkbox.parentElement.innerText.trim());
            }
        }

        fetch('/guardar_elementos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 'lista': lista })
        })
        .then(response => response.text())
        .then(data => {
            console.log(data);
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}