{% extends 'layout.html'%} 
    {%block title%} Docentes {%endblock%} 
    {% block body %}
    
    <div class="opciones">
        <button class="bg-green-500 hover-bg-green-700 text-white font-bold py-2 px-4 rounded mr-2" type="button" id="agregar_alumno">Nuevo Docente</button>
        <a href="/ver_docentes">
          <button class="bg-green-500 hover-bg-green-700 text-white font-bold py-2 px-4 rounded mr-2" type="button" id="mostrar-registros">Ver Docentes</button>
        </a>
      </div>
      

    <div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md hidden" id="formulario-docentes">
        <h1 class="text-2xl font-semibold mb-4">Formulario de Docente</h1>
        <form action="/docentes_registro" method="POST">
            <!-- Campo Cédula -->
            <div class="mb-4">
                <label for="cedula" class="block text-sm font-medium text-gray-600" pattern="^\d{3}-\d{6}-\d{4}P$">Cédula</label>
                <input type="text" id="cedula" name="cedula" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
            </div>
            <!-- Campo Nombre -->
            <div class="mb-4">
                <label for="nombre" class="block text-sm font-medium text-gray-600">Nombre del Docente</label>
                <input type="text" id="nombre" name="nombre" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
            </div>
            <!-- Campo Apellido -->
            <div class="mb-4">
                <label for="apellido" class="block text-sm font-medium text-gray-600">Apellido</label>
                <input type="text" id="apellido" name="apellido" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
            </div>
            <!-- Campo Correo Electrónico -->
            <div class="mb-4">
                <label for="correo" class="block text-sm font-medium text-gray-600">Correo Electrónico</label>
                <input type="email" id="correo" name="correo" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
            </div>
            <!-- Campo Título Universitario -->
            <div class="mb-4">
                <label for="titulo" class="block text-sm font-medium text-gray-600">Título Universitario</label>
                <input type="text" id="titulo" name="titulo" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
            </div>
            <!-- Botón de Enviar -->
            <div class="text-center">
                <button type="submit" class="bg-blue-500 text-white rounded-full px-6 py-2 hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">Enviar</button>
            </div>
        </form>
    </div>
    <div class="w-full overflow-x-auto" id="tabla-docentes">
      <table class="min-w-full bg-white">
          <thead>
              <tr>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Cédula</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre del Docente</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Apellido</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Correo Electrónico</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Título Universitario</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
              </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {% for dato in datos %}
            <form method="POST" action="/eliminarDocente">
                <tr>
                    <td class="px-2 py-4 whitespace-nowrap" name="cedula">{{ dato.cedula_profesor }}</td>
                    <td class="px-2 py-4 whitespace-nowrap">{{ dato.nombreprofesor }}</td>
                    <td class="px-2 py-4 whitespace-nowrap">{{ dato.apellidoprofesor }}</td>
                    <td class="px-2 py-4 whitespace-nowrap">{{ dato.correoelectronico }}</td>
                    <td class="px-2 py-4 whitespace-nowrap">{{ dato.especializacion }}</td>
                    <td class="px-2 py-4 whitespace-nowrap">
                        <input type="hidden" name="cedula" value="{{ dato.cedula_profesor }}">
                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white px-2 py-1 rounded-full">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </form>
        {% endfor %}
        
          </tbody>
      </table>
  </div>
  

      <script>
        // Obtener los elementos del DOM
        const agregarAlumnoButton = document.getElementById('agregar_alumno');
        const mostrarRegistrosButton = document.getElementById('mostrar-registros');
        const formularioDocentes = document.getElementById('formulario-docentes');
        const tablaDocentes = document.getElementById('tabla-docentes');
      
        // Función para mostrar el formulario
        function mostrarFormulario() {
          formularioDocentes.style.display = 'block';
          tablaDocentes.style.display = 'none';
        }
      
        // Función para mostrar la tabla
        function mostrarTabla() {
          formularioDocentes.style.display = 'none';
          tablaDocentes.style.display = 'block';
        }
      
        // Escuchar eventos de clic en los botones
        agregarAlumnoButton.addEventListener('click', mostrarFormulario);
        mostrarRegistrosButton.addEventListener('click', mostrarTabla);
      </script>
      
      
    
    {%endblock%}